flow.local {
	tls internal
	root * /srv/balise
	file_server

	@manifest path *.webmanifest
	header @manifest Content-Type application/manifest+json
	@vcard path *.vcf
	header @vcard Content-Type text/vcard
	header /sw.js Cache-Control no-cache
}

flow.local:8443 {
	tls internal
	root * /srv/balise-sos-demo
	file_server

	@manifest path *.webmanifest
	header @manifest Content-Type application/manifest+json
	@vcard path *.vcf
	header @vcard Content-Type text/vcard
	header /sw.js Cache-Control no-cache
}
